[bltouch]
sensor_pin: ^PC14
control_pin: PA1
samples: 2
speed: 20
stow_on_each_sample: False

x_offset: 45.2
y_offset: 11.70
#z_offset: 3.0 #Z_offset can be found in printer.cfg auto_config

[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed | Nozzle coordinates
speed: 150
z_hop: 10                     # Move up 10mm
z_hop_speed: 5

#[homing_override]
#gcode:
#  G90                          # Use absolute position mode
#    G1 Z10                     # Move up 10mm
#    G28 X Y
#    G1 X166 Y120 F6000         # Change the X and Y coordinates to the center of your print bed
#    G28 Z
#set_position_z: 0.0